@media (max-width:739px){
    .hide-on-mobile{
        display: none;
    }
    .slider{
        margin-left: 0;
    }

    .header-on-mobile{
        margin: 0;
        opacity: 0.6;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding-left: 0;
        list-style: none;
        justify-content: space-around;
        text-align: center;
    }

    .header-mobile__link{
        flex: 1;
        display: block;
        padding: 10px 0;
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }

}